---
import AdminAccessShell from '../components/AdminAccessShell.astro';
import AdminSettingsApp from '../components/kychon/AdminSettingsApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Site Settings">
  <AdminAccessShell />
  <div class="mx-auto w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8" data-admin-content hidden>
    <AdminSettingsApp client:load />
  </div>
</Portal>
