---
import AdminAccessShell from '../components/AdminAccessShell.astro';
import AdminMembersApp from '../components/kychon/AdminMembersApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Manage Members">
  <AdminAccessShell />
  <div class="ky-container" data-admin-content hidden>
    <AdminMembersApp client:load />
  </div>
</Portal>
