---
import AdminAccessShell from '../components/AdminAccessShell.astro';
import AdminSettingsApp from '../components/kychon/AdminSettingsApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Site Settings">
  <AdminAccessShell />
  <div class="ky-container" data-admin-content hidden>
    <AdminSettingsApp client:load />
  </div>
</Portal>
