---
import DirectoryPageApp from '../components/kychon/DirectoryPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Members">
  <div class="ky-container">
    <DirectoryPageApp client:load />
  </div>
</Portal>
