---
import ForumPageApp from '../components/kychon/ForumPageApp';
import Portal from '../layouts/Portal.astro';
---

<Portal title="Forum">
  <div class="mx-auto w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <ForumPageApp client:load />
  </div>
</Portal>
