---
import JoinPageApp from '../components/kychon/JoinPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Join">
  <div class="ky-container" style="max-width:28rem;margin:4rem auto">
    <JoinPageApp client:load />
  </div>
</Portal>
