---
import JoinPageApp from '../components/kychon/JoinPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Join">
  <div class="mx-auto w-full max-w-md px-4 py-16 sm:px-6">
    <JoinPageApp client:load />
  </div>
</Portal>
