---
import CustomPageApp from '../components/kychon/CustomPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Page">
  <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
    <CustomPageApp client:load />
  </div>
  <div id="sections" class="mt-8" data-sortable-group="page-sections" data-zone="main"></div>
</Portal>
