---
import PollsPageApp from '../components/kychon/PollsPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Polls">
  <div class="mx-auto w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <PollsPageApp client:load />
  </div>
</Portal>
