---
import ResourcesPageApp from '../components/kychon/ResourcesPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Resources">
  <div class="mx-auto w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <ResourcesPageApp client:load />
  </div>
</Portal>
