---
import SearchPageApp from '../components/kychon/SearchPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Search" robots="noindex,follow">
  <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
    <SearchPageApp client:load />
  </div>
</Portal>
