---
import SearchPageApp from '../components/kychon/SearchPageApp';
import Portal from '../layouts/Portal.astro';
---
<Portal title="Search" robots="noindex,follow">
  <section class="section section-search-page section-visible">
    <div class="ky-container">
      <SearchPageApp client:load />
    </div>
  </section>
</Portal>
